.env
.pio
.tools
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.metadata
app/build/
app/android/.gradle/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
